@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: roboto, sans-serif;
    }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

.eyeslash-icon {
  @apply top-4 right-2 cursor-pointer text-lg text-gray-500 hover:text-black absolute;
}

input:-webkit-autofill { 
  -webkit-background-clip: text;
}